
/* COLORS */
$color-primary: #55c57a;
$color-primary-light: #7ed567;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #f1732e;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-blue-light: #3e48cc;
$color-blue-medium: #2516aa;
$color-blue-dark: #060b5a;



/* Social Media Colours */
$color-facebook: #3b5998;
$color-instagram: #e95950;
$color-twitter:#55acee;
$color-Linkedin:#3b5998;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-grey-medium-1:#e7e7e7d8;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-grey-dark: rgb(85, 83, 83);
$color-white: #fff;
$color-black: #000;

// font-sizes
$default-font-size: 1.6rem; // I am simply calling the default font-size because that's the font-size we are using all over the place.

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // space between the columns
