*,
*::after
*::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}
html {
    // this define what 1rem is 10px from the default viewport 
    // NOTE!!!  this is the way that we put the media queries always the larger one than the smaller ones
    font-size: 62.5%; // 1rem = 10px/16px(default) = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone) { // width < 600 ?
        font-size: 30%; // 1rem = 4.8px
    }

    @include respond(small-phone) {// width < 400
        font-size: 20%; // 
    }

    

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem; 

    @include respond(tab-port) {
        padding: 0;
    }


}







