.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;

    background-image:linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)), 
    url(../img/grass.png);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 15rem 0;//15 top and bottom , 0 left and right
    background-color: $color-grey-light-1;
    
}

.section-footer{
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    background-color: $color-primary-dark;
    
}
/*


    & > * {
        transform: skewY(7deg);
    }
    This means that we add the skewY(7deg) in all childrens of the parent .section-features 

*/

//.section-features > * so basically, .section-features and then direct childs all of them