.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;

    background-image:linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)), 
    url(../img/grass.png);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;//15 top and bottom , 0 left and right
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
/*

    90 degrees especially going on the x direction
    180 degrees especially going on the y direction
    solid-color-gradient technique
    the absence of any color is transparent
*/
.book {
    background-image:linear-gradient(105deg,
                                     rgba($color-white, .9) 0%,
                                     rgba($color-white, .9) 50%,
                                     transparent 50%) ,
                                     url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .35);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
.section-footer{
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    background-color: $color-primary-dark;
}




/*


    & > * {

        transform: skewY(7deg);
    }
    This means that we add the skewY(7deg) in all childrens of the parent .section-features 

*/

//.section-features > * so basically, .section-features and then direct childs all of them